.about {
  display: flex;
  justify-content: center;
}

.aboutImage {
  margin-top:35px;
}

.innerAboutImg {
  width: 420px;
  height: 605px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-left: 15px;
  /* width:100%; */
}

.rightColumn p {
  margin: 10px;
}

.aboutTitle {
  font-size: 50px;
  color: #97b9ce
}

.signature {
  font-family: 'Great Vibes';
  font-size: 40px;
  color: #97b9ce;
  padding-left: 480px;
}

@media all and (max-width: 1400px) {
  .about {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media all and (max-width: 1185px) {
  .signature {
    padding-left: 400px;
  }
}

@media all and (max-width: 1102px) {
  .signature {
    padding-left: 300px;
  }
}

@media all and (max-width: 1002px) {
  .signature {
    padding-left: 225px;
  }
}

@media all and (max-width: 860px) {
  .signature {
    padding-left: 175px;
  }
}

@media all and (max-width: 850px) {
  .about {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .aboutImage {
    display: flex;
    justify-content: center;
  }

  .innerAboutImg {
    width: 390px;
    height: 565px;
  }
}
@media all and (max-width: 1400px) {
  .rightColumn {
   width: 100%
  }
}