.top {
  background-color: #f8f8f8;
  /* height: 50rem; */
  /* width:100% */
}

@media all and (max-width: 1200px) {
  .top {
    height: 815px;
  }
}

@media all and (max-width: 1157px) {
  .top {
    height: 840px;
  }
}

@media all and (max-width: 1063px) {
  .top {
    height: 860px;
  }
}

@media all and (max-width: 996px) {
  .top {
    height: 880px;
  }
}

@media all and (max-width: 980px) {
  .top {
    height: 900px;
  }
}

@media all and (max-width: 897px) {
  .top {
    height: 925px;
  }
}

@media all and (max-width: 850px) {
  .top {
    height: 1200px;
  }
}