.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.contentTitle {
  display: flex;
  justify-content: center;
  font-family: 'Playfair Display';
  font-size: 40px;
  width:800px;
}

.february, .twentyThree, .budgetOne, .budgetTwo {
  display: flex;
  width: 70%;
  object-fit: contain;
}
.budget {
  font-size: 21px;
  color: #595c58;
  
}

.forecast {
  margin-top: 50px;
}

.fullSpreadsheet {
  color: #595c58;
}

.spreadsheet {
  font-size: 32px;
  /* display: flex; */
  /* width: 240px; */
}

.full {
  margin-top:20px;
}
