.header {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  font-family: YAEnXdJOdyU-0;
  font-weight: 700;
  font-size: 21px;
}

.forecastingTag {
  color: #595c58;
  width: 160px
}

.contactTag {
  color: #595c58;
  width: 160px
}

.innerHeader {
  display: flex;
  border-bottom: #595c58 1px solid;
  padding-bottom: 15px;
  width: 1365px;
  justify-content: center;
  align-items: center;
}
.innerLine {
  display: flex;
  border-top: #97b9ce 2px solid;
  width: 280px;
  height: 0px;
  margin: 0 30px 0 30px;
  align-items: center;
}